<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A basic Marko app.">
  <title>Home</title>
</head>
<body>
  <${input.renderBody}/>
</body>
</html>

style {
  html, body {
    font-family: system-ui;
    padding: 0;
    margin: 0;
  }
  code {
    color: #fc0;
  }
  a {
    color: #09c;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  .m { margin: 1em 0; }
  .mt-1 { margin-top: 1em; }
  .mb-1 { margin-bottom: 1em; }

  * {
    box-sizing: border-box;
  }

}